{{#section 'login-css'}}
    <link rel="stylesheet" href="/public/css/login.css">
{{/section}}
{{#section 'login-js'}}
	<script src="/public/js/login.js"></script>
{{/section}}
<div class="overlay bg-img">
    <div class="content">
        <header>Sign Up</header>
        {{#if message}}
            <div class="alert alert-warning" role="alert"> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <form method="post" action="/account/register/otp">
            <div class="field space">
                <span class="fa fa-user"></span>

                <input name="firstname" type="text" required placeholder="First name" autofocus>
            </div>
            <div class="field space">
                <span class="fa fa-user"></span>

                <input name="lastname" type="text" required placeholder="Last name">
            </div>
            <div class="field space ">
                <span class="fa fa-envelope"></span>
                <input name="email" type="text" required placeholder="Email">
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input name="password" type="password" class="pass-key" required placeholder="Password">
                <span class="show"><i class="fa fa-eye" aria-hidden="true"></i></span>
            </div>
<!--            <div class="field space">-->
<!--                <span class="fa fa-solid fa-key"></span>-->
<!--                <input type="password" class="pass-key" required placeholder="Confirm Password">-->
<!--                <span class="show"><i class="fa fa-eye" aria-hidden="true"></i></span>-->
<!--            </div>-->

            <div class="field space">
                <input type="submit" value="SIGNUP">
            </div>
        </form>
        <br>
        <div class="space">
            Already have an account?
            <a href="/account/login">Log in</a>
        </div>


    </div>
</div>
