<nav style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <div class="content_profile">
            <h1>Account Security</h1>
            <p class="description">Edit your account setting and change your password here</p>
        </div>


    </div>
</nav>

<div class="content">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="password" class="form-control mb-2" id="formGroupExampleInput2" placeholder="Old Password ">
        <input type="password" class="form-control mb-2" id="formGroupExampleInput2" placeholder="New Password ">
        <input type="password" class="form-control mb-2" id="formGroupExampleInput2" placeholder="Again new Password ">

    </div>
    <button type="button" class="btn btn-dark mt-3">SAVE</button>
</div>