<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/imgs/logo.jpg);"></a>
            <h1 style = "color: #000 ; align-content: center;">Name</h1>
            <ul class="list-unstyled components mb-5">

                <li class="active">
                    <a href="#">Profile public</a>
                </li>
                <li>
                    <a href="#">Photo</a>
                </li>
                <li>
                    <a href="#">Account Security</a>
                </li>
                <li>
                    <a href="#">Watch list</a>
                </li>
                <li>
                    <a href="#">Registered courses</a>
                </li>
                <li>
                    <a href="#">Log out</a>
                </li>
            </ul>


        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <div class="content_profile">
                    <h1>Profile public</h1>
                    <p class="description">Add information about yourself</p>
                </div>


            </div>
        </div>

        <div class="content">



        </div>
    </div>
</div>>