{{#section 'profile'}}

    <link rel="stylesheet" href="/css/home_profile.css">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'handleProfile'}}
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/locales/vi.js"></script>
    <script src="https://<hostname.tld>/tinymce.min.js" referrerpolicy="origin"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $("#input-b4b").fileinput({-->
<!--            language: 'vi',-->
<!--            theme: 'fa4',-->
<!--            dropZoneEnabled: false,-->
<!--             maxFileCount: 5,-->
<!--             allowedFileExtensions: ['jpg', 'png', 'gif'],-->
<!--             showCaption: false,-->
<!--             showUpLoad: true-->
<!--            });-->
<!--        });-->
<!--</script>-->
    <script>
        $(document).ready(function() {
            $("#avt").fileinput({
            showCaption: false, dropZoneEnabled: false});
        });
</script>
{{/section}}


<div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary"
                style="background-color: #000; border-color: #000; opacity: 80%">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <div class="container-fluid d-flex justify-content-center">
            <div class="content_profile" style="text-align: center;">
                <h1>Photo</h1>
                <p class="description">Add information about yourself</p>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="card">

        <div class="card-body text-muted">
            <label class="control-label">Select File</label>
            <input style="opacity: 100%" id="avt" name="avt" type="file" multiple>

        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-dark mt-3">SAVE</button>
        </div>
    </div>
</form>

<!--<form method="post" enctype="multipart/form-data">-->
<!--    <div class="content">-->
<!--        <div class="mt-3  mb-3 form-group">-->
<!--            <label for="formFile" class="form-label">Up load image</label>-->
<!--            <input id="fuMain" name="fuMain[]" type="file" multiple>-->

<!--        </div>-->
<!--        <button type="submit" class="btn btn-dark mt-3">SAVE</button>-->
<!--    </div>-->
<!--</form>-->