{{#section 'profile'}}

    <link rel="stylesheet" href="/css/home_profile.css">
{{/section}}

{{#section 'handleProfile'}}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/jquery.min.js"></script>
{{/section}}


<div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <div class="content_profile">
            <h1>Profile public</h1>
            <p class="description">Add information about yourself</p>
        </div>
    </div>
</div>

<div class="content">
    <!-- basic  -->
    <h5>Basic</h5>
    <form method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email" value="{{user.email}}">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="txtFirstName" placeholder="First name" name="firstname" value="{{user.firstname}}">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="txtLastName" placeholder="Last name" name="lastname" value="{{user.lastname}}">
        </div>
        <!-- link  -->

        <h5 class="mb-3">Link</h5>

        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your website">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Github">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Youtube">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Instagram">
        </div>
        <button type="submit" class="btn btn-dark mt-3" formaction="/account/home_profile/patch">SAVE</button>
    </form>
</div>