{{#section 'profile'}}
    <link rel="stylesheet" href="/css/home_profile.css">
{{/section}}

{{#section 'handleProfile'}}
    <script src="/js/main.js"></script>
{{/section}}


<div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">
    <button type="button" id="sidebarCollapse" class="btn btn-primary" style="background-color: #000; border-color: #000; opacity: 80%">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
    </button>
    <div class="container-fluid d-flex justify-content-center">
        <div class="content_profile" style="text-align: center;">
            <h1>Profile public</h1>
            <p class="description">Add information about yourself</p>
        </div>
    </div>
</div>


<form method="post" >
    <div class="content " style="margin-top: 60px;">
        <!-- basic  -->
        <h5>Basic</h5>
            <div class="mb-3">
                <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email" value="{{user.email}}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="txtFirstName" placeholder="First name" name="firstname" value="{{user.firstname}}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="txtLastName" placeholder="Last name" name="lastname" value="{{user.lastname}}">
            </div>
            <!-- link  -->

            <h5 class="mb-3">Link</h5>

            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Faceboook">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Google">
            </div>
            <button type="submit" class="btn btn-dark mt-3" >SAVE</button>
    </div>

</form>