<nav style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <div class="content_profile">
            <h1>Resgistere courses</h1>
            <!--            video course -->
            <p class="description">The course you already love</p>
        </div>

    </div>
</nav>

<div class="content">
    <h5>Watch list</h5>
    <button type="button" class="btn btn-dark mt-3">SAVE</button>
</div>