
{{#section 'profile'}}

    <link rel="stylesheet" href="/css/home_profile.css">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'handleProfile'}}
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/locales/vi.js"></script>
    <script src="https://<hostname.tld>/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        $(document).ready(function() {
            $("#avt").fileinput({
            showCaption: false, dropZoneEnabled: false});
        });
</script>
{{/section}}
<div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">

          <div class="container-fluid d-flex justify-content-center">
              <div class="content_profile" style="text-align: center;">
                  <h1>Upload video</h1>

              </div>
          </div>
      </div>
		<form method="post" >
      <div class="content " style="margin-top: 60px;">
        <div class="mb-3">
          <label for="formFile" class="form-label">Image title</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div>
          <label for="formFileLg" class="form-label">Video</label>
          <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Brief Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Detail Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div style="display: flex;">
          <div style="padding-right: 10px;" class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Sale</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>
          <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Preview</label>
          </div>
        <select class="form-select" aria-label="Category">
          <option selected>Category</option>
          <option value="1">Music</option>
          <option value="2">Photo&video</option>
          <option value="3">IT develope</option>
        </select>
      </div>
      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-dark mt-3">UPLOAD</button>
    </div>

</form>