<div style="padding-top: 3%;">
  <video
    width="80%"
    height="85%"
    allow="autoplay"
    style="padding-left: 20%"
    src="/clips/{{videoData.0.id}}.mov"
    controls
  ></video>
  <div
    style="color:black; font-weight: bold; font-size: larger; text-align: center; padding: 1%"
  >
    {{videoData.0.name}}
  </div>
</div>