<div style="padding-top: 3%;">
  <iframe
    src={{videoData.0.source}}
    width="80%"
    height="85%"
    allow="autoplay"
    style="padding-left: 20%"
  ></iframe>
  <div
    style="color:black; font-weight: bold; font-size: larger; text-align: center; padding: 1%"
  >
    {{videoData.0.name}}
  </div>
</div>