@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

:root{
    --color-button: #05445E;
    --background-color: rgb(255, 255, 255);
    --primary-color:#FAFDFF;
    --title-color:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.bg-img{
    background: var(--background-color);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--background-color);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    padding: 50px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: var(--primary-color);
    box-shadow: -1px 1px 5px 0px rgba(1, 28, 31, 0.75);
    border-radius: 5px;
}
.content header{
    color: var(--title-color);
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
    border-radius: 5px;
    border: 1px solid #05445E;
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: #000;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: var(--color-button);
    border: 1px solid var(--color-button);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
    background: #258db9;
}
.login{
    color: var(--title-color);
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
}
.links{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
}
.facebook,.Google{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
}
.facebook{
    margin-left: 0;
    background: #4267B2;
    border: 1px solid #3e61a8;
    border-radius: 5px;
}
.Google{
    background: #E1306C;
    border: 1px solid #df2060;
    border-radius:5px;
}
.facebook:hover{
    background: #7395d8;
}
.Google:hover{
    background: #fe9dbd;
}
.links i{
    font-size: 17px;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.signup{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.signup a{
    color: #3498db;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}