{{#section 'profile'}}
   
    <link rel="stylesheet" href="/css/home_profile.css">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'handleProfile'}}
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/locales/vi.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#editor").editor();
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#avt").fileinput({
            showCaption: false, dropZoneEnabled: false});
        });

</script>

{{/section}}
<div style="border: 1px solid #ccc;border-radius: 5px;" class=" navbar-expand-lg navbar-light bg-light">

          <div class="container-fluid d-flex justify-content-center">
              <div class="content_profile" style="text-align: center;">
                  <h1>Upload video</h1>

              </div>
          </div>
      </div>
<form method="post" >
      <div class="content " style="margin-top: 60px;">
          <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Title video</label>
              <div class="mb-3">
                  <input type="text" class="form-control" id="txtLastName" placeholder="Last name" name="lastname" value="Title video">
              </div>

          </div>
        <div>
          <label for="formFileLg" class="form-label">Link Video</label>
          <input class="form-control form-control-lg" id="formFileLg" type="file">
        </div>


          <div style="display: flex;">
              <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="mt-3 form-check-label" for="flexSwitchCheckDefault">Preview</label>
              </div>
          </div>

      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-dark mt-3">UPLOAD</button>
        <a href = "/lecture/course"class="btn btn-dark mt-3">Back</a>

    </div>

</form>