{{#section 'otp-css'}}
    <link rel="stylesheet" href="/css/otp.css">
{{/section}}

<form action="/account/signup/otp" method="post">
<div class="w-full">
    <div style = "width: 500px;height: 350px;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;align-self: center;margin-top: 100px;margin: auto;"
         class="bg-white h-64 py-3 rounded text-center">
        <h1 class="text-2xl font-bold">OTP Verification</h1>
        <div class="flex flex-col mt-4">
            <span>Enter the OTP you received at</span>
            <span class="font-bold">{{email}}</span>

        </div>

        <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="first" maxlength="1" name="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="second" maxlength="1" name="2" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="third" maxlength="1" name="3" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fourth" maxlength="1" name="4" />
        </div>
        {{#if message}}
            <div class="alert alert-warning" role="alert"> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <div style="    align-items: baseline;
            justify-content: space-evenly;" class="flex justify-center text-center mt-5">
            <a class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer"><span class="font-bold">Resend OTP</span><i class='bx bx-caret-right ml-1'></i></a>
            <button type="submit" class="button_verity btn btn-dark mt-3" >Verify OTP</button>
        </div>
    </div>
</div>

</form>