<form method="post">
    <div class="card">
        <h4 class="card-header">
            New Lecturer
        </h4>

        <div class="card-body">
            <h5>Profile Information</h5>
            <div class="form-group">
                <label for="txtFirstName">First name</label>
                <input name="firstname" type="text" class="form-control" id="txtFirstName"
                    autofocus />
            </div>
            <div class="form-group">
                <label for="txtLastName">Last name</label>
                <input name="lastname" type="text" class="form-control" id="txtLastName" />
            </div>

            <h5>Account Information</h5>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input name="email" type="text" class="form-control" id="txtEmail" />
            </div>

            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input name="password" type="password" class="form-control" id="txtPassword" />
            </div>
        </div>


        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/admin/users" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>