{{#if flag}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Delete failed!</strong> {{err_message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<form method="post">
    <div class="card card-body mt-100 mr-40 ml-40">
        <h4 class="card-header">
            Edit Category
        </h4>

        <div class="card-body">
            <div class="form-group">
                <label for="txtID">#</label>
                <input name="id" type="text" class="form-control" id="txtID" readonly
                    value="{{this.category.id}}" />
            </div>
            <div class="form-group">
                <label for="txtName">Category</label>
                <input name="name" type="text" class="form-control" id="txtName"
                    value="{{this.category.name}}" autofocus placeholder="React JS" />
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-danger"
                formaction="/admin/categories/del/{{this.category.id}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/categories/patch">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>