{{#section 'login-css'}}
    <link rel="stylesheet" href="/public/css/login.css">
{{/section}}
{{#section 'login-js'}}
    <script src="/public/js/login.js"></script>
{{/section}}
<div class="bg-img">
    <div class="content">
        <header>Forgot Password</header>
        {{#if err_message}}
            <div class="alert alert-danger" role="alert"> {{err_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <form method="post">
            <div class="field">
                <span class="fa fa-user"></span>
                <input name="email" type="text" required placeholder="Email" autofocus>
            </div>
            <div class="field mt-30">
                <input type="submit" value="Reset Password">
            </div>
        </form>
        <div class="login">Or <a href="/account/login">login</a></div>
    </div>
</div>
