<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Commerce Application (20KTPMC)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bulma.css">

</head>
<body>
<div class="bg-img">
    <div class="content">
        <header>Login</header>
        {{#if err_message}}
            <div class="alert alert-warning" role="alert"> {{err_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        <form method="post">
            <div class="field">
                <span class="fa fa-user"></span>
                <input name="username" type="text" required placeholder="Email" autofocus>
            </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input name="password" type="password" class="pass-key" required placeholder="Password">
                <span class="show">SHOW</span>
            </div>
            <div class="pass">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="field">
                <input type="submit" value="LOGIN">
            </div>
        </form>
        <div class="login">Or login with</div>
        <div class="links">
            <div class="facebook">
                <i class="fab fa-facebook-f"><a href="/facebook"><span>Facebook</span></a></i>
            </div>
            <div class="Google">
                <i class="fab fa-Google"><a href="/account/google"><span>Google</span></a></i>
            </div>
        </div>
<!--        <div class="links">-->
<!--            <div class="facebook">-->
<!--                <i class="fab fa-facebook-f"><span>Facebook</span></i>-->
<!--            </div>-->
<!--            <div class="Google">-->
<!--                <i class="fab fa-Google"><span>Google</span></i>-->
<!--            </div>-->
<!--        </div>-->
        <div class="signup">Don't have account?
            <a href="/account/signup">Signup Now</a>
        </div>
    </div>
</div>

</body>
